*{
    margin: 0px;
    padding: 0px;
}
div{
    width: 170px;
}
#div1{
    top:60px;
    left:100px;
    position: absolute;
}
input[type="button"]{
    width: 25px;
    margin-right: 10px;
}
input[type="text"]{
    width: 145px;
    text-align: right;
    background-color: white;
    box-sizing: border-box;
}
input[type="button"]:hover{
    background-color:#abcdef;
    border: 1px solid;
}